<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Broad-phase-bng by kirbysayshi</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Broad-phase-bng</h1>
        <p>Materials for an article on Broad Phase Collision Detection for BuildNewGames</p>

        <p class="view"><a href="https://github.com/kirbysayshi/broad-phase-bng">View the Project on GitHub <small>kirbysayshi/broad-phase-bng</small></a></p>


        <ul>
          <li><a href="https://github.com/kirbysayshi/broad-phase-bng/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/kirbysayshi/broad-phase-bng/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/kirbysayshi/broad-phase-bng">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
{{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/kirbysayshi">kirbysayshi</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
